.contact-screen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 0px;
    margin-bottom: 0px;
    max-width: 1080px;
    border-width: 0px;
    border-style: solid;
    border-color: pink;
}